@import '../mixims';

.services {
  position: relative;

  &__container {
    position: relative;

    &__button-left {
      @include side-button(50%, 40px);
    }

    &__button-right {
      @include side-button(50%, 95%);
    }

    &__group-elements {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 25%;

      &__top-container {
        &__mini-title {
          @include services-container-title;
          margin-bottom: 12px;
          width: 168px;
          height: 29px;
          background-color: var(--orange-color);
          font-family: var(--font-family), serif;
          font-weight: 600;
          font-size: 13px;
          line-height: 177%;
          letter-spacing: 0.15em;
          text-transform: uppercase;
          color: white;
          border-radius: 5px;
        }
      }

      &__middle-container {
        &__title {
          @include services-container-title;
          background-color: white;
          font-family: var(--font10), serif;
          font-weight: 600;
          font-size: 65px;
          line-height: 118%;
          color: var(--violet-text-color);
          margin-bottom: 10px;
          border-radius: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      &__bottom-container {
        display: flex;
        justify-content: flex-start;

        &__title {
          @include services-container-title;
          background-color: white;
          font-family: var(--font10), serif;
          font-weight: 600;
          font-size: 65px;
          line-height: 118%;
          color: var(--violet-text-color);
          border-radius: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      &__buttons-container {
        margin-top: 28px;

        &__button1 {
          @include suptitle-button(186px, 56px);
          color: white;
          background-color: var(--violet-color);

          &:hover {
            background-color: var(--violet-text-color);
          }

          &:active {
            background-color: #263fc5;
          }
        }

        &__button2 {
          @include suptitle-button(179px, 56px);
          color: var(--violet-text-color);
          background-color: white;
          margin-left: 16px;

          &:hover {
            background-color: #f0f2f9;
          }

          &:active {
            background-color: #e8eaf1;
          }
        }
      }
    }
  }
}
