@mixin header-font-properties() {
  font-family: var(--font-family), serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 167%;
}

@mixin nav-panel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100px;
}

@mixin nav-link-element {
  text-decoration: none;
  font-family: var(--font-family), serif;
  color: var(--violet-text-color);
  font-weight: 600;
  line-height: 77%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@mixin services-arrow-button {
  width: 55px;
  height: 55px;
  border: none;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15%;
}

@mixin side-button($topSize: 0, $leftSize: 0) {
  position: absolute;
  top: $topSize;
  left: $leftSize;
  transform: translateY(-50%);

  button {
    @include services-arrow-button;

    &:hover {
      background-color: #d1d3d9;
    }

    &:active {
      background-color: #edeff5;
    }
  }
}

@mixin services-container-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin suptitle-button ($widthSize: 0, $heightSize: 0) {
  font-family: var(--font-family), serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  width: $widthSize;
  height: $heightSize;
  transition-duration: 0.3s;
}

@mixin peoples-reviews-arrow-button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: none;
  background-color: white;
  transition-duration: 0.3s;
  top: 60%;

  &:hover {
    background-color: #e2e2e2;
  }

  &:active {
    background-color: #f6f6f6;
  }
}