@keyframes process-hover-link {
  from {
    border-bottom: 2px solid var(--disable-line-color);
  }

  to {
    border-bottom: 2px solid var(--enable-line-color);
  }
}

.ads-component {
  background-color: var(--bg-section-pink-color);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__menu {
    display: flex;
    margin-top: 120px;
    margin-bottom: 41px;

    &__item {
      text-decoration: none;
      justify-content: center;
      align-items: center;
      font-family: var(--font10), serif;
      font-weight: 600;
      width: 325px;
      height: 49px;
      font-size: 19px;
      line-height: 132%;
      text-align: center;
      color: var(--violet-text-color);
      border-bottom: 2px solid var(--disable-line-color);
      transition-duration: 3s;

      &:hover {
        animation-name: process-hover-link;
        animation-duration: 0.5s;
        animation-delay: 0.2s;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-play-state: running;
        animation-fill-mode: forwards;
      }

      &:not(:hover) {
        border-bottom: 2px solid var(--disable-line-color);
      }
    }
  }

  &__text-container {
    display: flex;

    &__second-container {

      &__title {
        font-family: var(--font10), serif;
        font-weight: 600;
        font-size: 35px;
        line-height: 126%;
        color: var(--violet-text-color);
        margin-bottom: 5px;
        margin-right: 255px;
      }

      &__text {
        font-family: var(--font-family), serif;
        font-weight: 400;
        font-size: 19px;
        line-height: 158%;
        color: var(--grey-text-color);
      }

      &__suptext {
        margin-top: 9px;
        font-family: var(--font-family), serif;
        font-weight: 400;
        font-size: 15px;
        line-height: 167%;
        color: var(--grey-text-color);
      }
    }
  }
}